*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    margin: 0px auto;
    max-width: 100%;  
    background-color: white;

}
header{  
    height: 150px;
    background-color: #F5EBDF;
    border-bottom: 1px solid white;
}
.title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form_search{
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

}
.form_search input{
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 0px;
    font-size: 15px;
}
.form_search button{
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #C0C0C0;
    font-size: 15px;
}
nav {
    height: 50px;
    background-color: #F5EBDF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}
nav li{
    list-style: none;
    margin-left: 80px;
}
nav li a{
    text-decoration: none;
    color: #565C62;
    font-size: 20px;
}
nav li a:hover{
    text-decoration: none;
    color: orangered;
    font-weight: bold;
}
.wrapper_head{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

.content{
    margin-top: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    margin-bottom: 100px;

}

.thumb a img{
    height:auto;
    max-width: 100%;  
}
.thumb_sp a img{
    max-width: 100%;
    height: auto;
    /* height: 500px; */
}
.card_grid{
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
}
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.thumb{
    max-width: 65%;
}
.sanpham{
    flex: 1;
    text-align: center;
    padding-bottom: 40px;
}

.card_title{
    text-align: center;
    font-size: 15px;
    padding: 0px 50px;
    color: #565C62;

}
.card_title:hover{
    color: orangered;
    
}
.card_gia{
    font-size: 15px;
    color: orangered;
    margin: 15px;
    font-weight: bold;
}
.sanpham button{
    padding: 10px; 
    font-size: 15px;
    width: 150px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

footer{
    width: 100%;
    margin-top: 50px;
    background-color: #282b2e;
    color: whitesmoke;
    padding: 50px 0;
}
.wrapper_footer{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
}

.form_email{
    display: flex;
    justify-content: center;
        
}
.form_email input{
    padding: 10px;
    border: none;
    width: 300px;
    margin-right: 0px;
    font-size: 10px;
    border: 1px solid white;

}
.form_email button{
    padding: 10px;
    border: none;
    background-color: #282b2e;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid white;
    color: white;

}

.thuonghieu,
.hotro,
.hethong {
    font-size: 15px;
    flex: 1;
    margin: 0 10px;
    line-height: 30px;
}


@media only screen and (max-width: 1024px) {
    .title{
        font-size: 25px;
    }
    .form_search input{
        font-size: 13px;
    }
    .form_search button{

        font-size: 13px;
    }
    nav li {     
        margin-left: 20px; /* Add some space between navigation links */
    }
    nav li a{
        font-size: 15px;
    }
    .card{
        height: 500px;
    }
    .thumb a img{
        width: 90%;
        height: 400px;

    }
   
    
    .wrapper_footer {
        flex-direction: column; /* Arrange footer content vertically */
        align-items: center; /* Center align footer content */
    }
    .thuonghieu,
    .hotro,
    .hethong {
        font-size: 13px;
        text-align: center; /* Center align footer content */
        margin: 20px 0; /* Add some space between footer content */
    }
    .hotro {
        margin-left: 0; /* Reset left margin */
    }
    .form_email input {
        width: calc(100% - 120px); /* Adjust email input width */
    }
}


@media only screen and (max-width: 767px) {
    .title{
        font-size: 20px;
    }
    .form_search input{
        font-size: 10px;
    }
    .form_search button{

        font-size: 10px;
    }
    nav li {     
        margin-left: 10px; /* Add some space between navigation links */
    }
    nav li a{
        font-size: 10px;
    }
    .thumb img{
        width: 300px;
        height: 100px;
        
    }
    .card{
        height: 500px;
    }
    .thumb a img{
        width: 90%;
        height: 300px;

    }
    .card_title{
        font-size: 10px;
        padding: 0px 30px;
    }

    .card_gia{
        font-size: 10px;
        margin: 10px;
    }
    .sanpham button{
        padding: 10px; 
        font-size: 10px;
        width: 100px;

    }
    .wrapper_footer {
        flex-direction: column; /* Arrange footer content vertically */
        align-items: center; /* Center align footer content */
    }
    .thuonghieu,
    .hotro,
    .hethong {
        font-size: 10px;
        text-align: center; /* Center align footer content */
        margin: 15px 0; /* Add some space between footer content */
    }
    .hotro {
        margin-left: 0; /* Reset left margin */
    }
    .form_email input {
        width: calc(100% - 150px); /* Adjust email input width */
    }
 
}

@media only screen and (max-width: 450px) {
    .title{
        font-size: 20px;
    }
    .form_search input{
        font-size: 10px;
    }
    .form_search button{

        font-size: 10px;
    }
    nav li {     
        margin-left: 10px; /* Add some space between navigation links */
    }
    nav li a{
        font-size: 10px;
    }
    .thumb img{
        width: 300px;
        height: 100px;
        
    }

    .card{
        flex-direction: column;
        height: 500px;
    }
    .thumb a img{
        width: 90%;
        height: 200px;

    }
    .thumb_sp a img{
        height: 130px;
    }
    .card_title{
        font-size: 10px;
        padding: 0px 30px;
    }

    .card_gia{
        font-size: 10px;
        margin: 10px;
    }
    .sanpham button{
        padding: 10px; 
        font-size: 10px;
        width: 80px;

    }
    .wrapper_footer {
        flex-direction: column; /* Arrange footer content vertically */
        align-items: center; /* Center align footer content */
    }
    .thuonghieu,
    .hotro,
    .hethong {
        font-size: 10px;
        text-align: center; /* Center align footer content */
        margin: 15px 0; /* Add some space between footer content */
    }
    .hotro {
        margin-left: 0; /* Reset left margin */
    }
    .form_email input {
        width: calc(100% - 150px); /* Adjust email input width */
    }
 
}



